/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* DROPDOWN */

button {
  width: 300px;
  margin: 3rem;
  margin-bottom: 0;
  padding: 0.5rem;
}

.dropdown {
  visibility: hidden;
  border: 1px solid black;
  width: 300px;
  margin: 3rem;
  margin-top: 0;
  padding: 1rem;
  background-color: rgba(146, 147, 203, 0.543);
}

li {
  padding: 0.2rem;
}

/* CAROUSEL */

.slideshow-container {
  margin: 3rem auto;
  max-width: 800px;
  position: relative;

}

.slide {
  display: none;
}

img {
  width: 100%;
  aspect-ratio: 4 / 2.5;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 50%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.152);
}
.next {
  right: 0;
}

.dot {
  cursor: pointer;
  background-color: #444;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}